.Container {
    width: 100%;
    height: calc(100vh - 7%);
    max-height: calc(100vh - 7%);
}

.title {
    height: 10%;
    display: flex;
    border-bottom: 2px solid var(--cor2);
    padding: 20px;
    background-color: var(--cor4);
    margin-bottom: 30px;
    overflow: hidden; 
}

.title i {
    flex-shrink: 0;
    font-size: 3.5vb; 
    cursor: pointer;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.title h3 {
    margin: 0;
    text-align: left;
    flex-grow: 1;  
    font-size: 3.5vb; 
    white-space: nowrap;
}


.Corpo {
    width: 95%;
    display: block;
    flex-direction: column;
    min-height: calc(100vh - 24%);
    height: calc(100vh - 24%);
    max-height: calc(100vh - 24%); 
    padding: auto;
    margin: auto;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    overflow: unset;
}

.tabela {
    width: 99%;
    min-height: 85%;
    max-height: 85%;
    padding: auto;
    margin: auto;
    overflow: auto;
}

.Tabela {
    border-collapse: collapse;
    width: 100%;
}

.Tabela th,
.Tabela td {
    padding: 10px;
    border: 1px solid #ddd;
    
}

.Tabela th {
    background-color: var(--cor2);
    color: white;
    
}

.Tabela tbody tr:hover {
    background-color: #92b1da;
    
}

.Tabela thead {
    position: sticky;
    top: 0;
    background-color: var(--cor4); /* Adicione a cor de fundo desejada */
    z-index: 1;
}



/* Estilos para o campo de pesquisa */
.Tabela input[type="search"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* Estilos padrão */
#PaginacaoUsuarios {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#PaginacaoUsuarios .paginate_button {
    padding: 6px 12px;
    margin: 0 3px;
    color: var(--cor2);
    border: 1px solid var(--cor2);
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}

#PaginacaoUsuarios .paginate_button:hover {
    background-color: var(--cor2);
    color: white;
}

#PaginacaoUsuarios .paginate_button.current {
    background-color: var(--cor2);
    color: white;
}
    .btn-editar{
    background-color: #0f1664dd;
    /* Cor de fundo vermelha (cor Bootstrap danger) */
    color: #fff;
    /* Cor do texto branco */
    border: none;
    /* Remove a borda */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* Adicione um estilo de hover ao botão de exclusão */
.btn-editar:hover{
    background-color: #615ee3;
    /* Cor de fundo mais escura no hover */
}


.btn-excluir{
    background-color: #921919dd;
    /* Cor de fundo vermelha (cor Bootstrap danger) */
    color: #fff;
    /* Cor do texto branco */
    border: none;
    /* Remove a borda */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btn-excluir:hover{
    background-color: #f98484dd;
    /* Cor de fundo mais escura no hover */
}

@media screen and (max-width: 600px) {
    #PaginacaoUsuarios {
        flex-wrap: wrap;
    }

    #PaginacaoUsuarios .paginate_button {
        margin: 3px;
    }
}