

    
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-content {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modals {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modals-content {
    margin-top: -20%;
    display: block;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.modals-content form {
    display: flex;
    flex-direction: column;
}

.modals-content h2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modals-content form label {
    margin-bottom: 10px;
}



.modals-content form input[type="text"] {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modals-content form button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--cor2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modals-content form button[type="submit"]:hover {
    background-color: #0056b3;
}

.modal p {
    margin-bottom: 10px;
}

.modal i {
    font-size: 48px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ranking-container {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    max-height: 70vh;
}


.Producao {
    display: none;
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    max-height: 70vh;

}

.TelaOps {
    display: none;
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    max-height: 70vh;

}

h1 {
    text-align: center;
    color: #333;
}

.date-range {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.date-range label {
    margin-right: 10px;
    color: #333;
    font-size: 16px;
}

.date-range input[type="date"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: #f8f9fa;
    margin-right: 20px;
}

.date-range input[type="date"]:focus {
    border-color: var(--cor2);
}

.date-range button {
    padding: 12px 24px;
    background-color: var(--cor2);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.date-range button:hover {
    background-color: var(--cor2);
}

#Ops-table,
#ranking-table,
#Producao-table{
    width: 100%;
    max-height: 52vh;
    overflow: auto;

}

.Ops-table,
.ranking-table,
.Producao-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
    
}

.ranking-table th,
.ranking-table td,
.Producao-table th,
.Producao-table td,
.Ops-table th,
.Ops-table td
    {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

.ranking-table th,
.Producao-table th,
.Ops-table th  {
    background-color: var(--cor2);
    color: white;
}

.ranking-table tbody tr:hover,
.Producao-table  tbody tr:hover,
.Ops-table  tbody tr:hover{
    background-color: #92b1da;
    cursor: pointer;
}

#Ops-table1 {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
}

#Ops-table1 thead th {
    background-color: var(--cor2);
    color: white;
    position: sticky;
    top: 0;
}

#Ops-table1 tbody {
    max-height: 40vh; /* Altura máxima do corpo da tabela */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

#Ops-table1 tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
}

#Ops-table1 tbody tr:hover {
    background-color: #92b1da;
    cursor: pointer;
}


#modalSuccess,
#modalError {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-contentSucess,
.modal-contentError {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#modalSuccess p,
#modalError p {
    margin-bottom: 10px;
}

#modalSuccess i {
    font-size: 48px;
    color: #28a745;
}

#modalError i{
    font-size: 48px;
    color: red;
}

.total-row td {
    text-align: center;
    background-color: #9ec3ad;
}

.btn-editar{
    background-color: #0f1664dd;
    /* Cor de fundo vermelha (cor Bootstrap danger) */
    color: #fff;
    /* Cor do texto branco */
    border: none;
    /* Remove a borda */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

/* Adicione um estilo de hover ao botão de exclusão */
.btn-editar:hover{
    background-color: #615ee3;
    /* Cor de fundo mais escura no hover */
}


.btn-excluir{
    background-color: #921919dd;
    /* Cor de fundo vermelha (cor Bootstrap danger) */
    color: #fff;
    /* Cor do texto branco */
    border: none;
    /* Remove a borda */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btn-excluir:hover{
    background-color: #f98484dd;
    /* Cor de fundo mais escura no hover */
}