.Corpo{
    width: 100%;
    height: 90vh;
    border: 1px solid black;
}

.corpo {
    padding: 20px;
}
.Tabela{
    height: 80vh;
    min-height: 80vh;
    max-height: 80vh;
    margin: auto;
    padding: auto;
}


#TabelaUsuarios_wrapper,
#TabelaLinhas_wrapper {
    padding: 5px;
    min-height: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

#TabelaUsuarios th,
#TabelaUsuarios td,
#TabelaLinhas th,
#TabelaLinhas td {
    text-align: center;
    padding: 15px;
}

#TabelaUsuarios th,
#TabelaLinhas th {
    background-color: var(--cor2);
    color: #ffffff;
}

#TabelaUsuarios tbody tr:hover,
#TabelaLinhas tbody tr:hover {
    background-color: #f1f1f1;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acoes i {
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    color: var(--cor2);
    transition: color 0.3s;
}

.acoes i:hover {
    color: var(--cor2);
}

#TabelaUsuarios_paginate,
#TabelaLinhas_paginate {
    margin-top: 10px;
}

.dataTables_botoes,
.dataTables_paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -10px;
}

.dataTables_paginate .paginate_button {
    margin-left: 10px;
    background-color: var(--cor2);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.dataTables_paginate button {
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

/* Estilos para o conteúdo das modais */
.modal-content,
.Newmodal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 10% auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para o título das modais */
.modal h2,
.Newmodal-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.close-modaledit,
.Newclose-modaledit {
    position: absolute;
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 9999;
}

.close-modaledit:hover,
.Newclose-modaledit:hover {
    color: #555;
}

/* Estilos para os inputs e selects */
input[type="text"],
select,
input[type="password"] {
    width: calc(100%);
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus,
input[type="password"]:focus {
    border-color: #666;
}

/* Estilos para o botão de salvar */
button[type="submit"],
#SalvarNewUser {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    background-color: var(--cor2);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
#SalvarNewUser:hover {
    background-color: #0056b3;
}

#modalSuccess,
#modalError {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-contentSucess,
.modal-contentError {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#modalSuccess p,
#modalError p {
    margin-bottom: 10px;
}

#modalSuccess i {
    font-size: 48px;
    color: #28a745;
}

#modalError i{
    font-size: 48px;
    color: red;
}


@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 10px;
    }

    .title {
        padding: 15px;
    }

    #TabelaUsuarios th,
    #TabelaUsuarios td,
    #TabelaLinhas th,
    #TabelaLinhas td {
        font-size: 14px;
    }

    .acoes i {
        font-size: 16px;
    }
}
