
.SelecaoEnderecos {
    background-color: var(--cor2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.SelecaoEnderecos label {
    display: block;
    margin-bottom: 10px;
    color: var(--cor4);
}

.SelecaoEnderecos input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.SelecaoEnderecos button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SelecaoEnderecos button:hover {
    background-color: #0056b3;
}