:root {
    --cor1: rgb(255, 255, 255);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: #fff;
}

/* Reset de Estilos Padrão para Melhor Cross-Browser Consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor1);
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}



.Corpo {
    background-color: var(--cor2);
}


.TituloPrograma {
    margin-top: 15px;
    font-size: 25px;
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

/* Estilo da Seção de Seleção de Caixa */
.SelecaoEnderecos,
.SelecaoTag {
    background-color: var(--cor2);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    margin-top: 50px;
    text-align: center;
}

.SelecaoEnderecos label,
.SelecaoTag label {
    display: block;
    margin-bottom: 10px;
    color: var(--cor4);
}

.SelecaoEnderecos input[type="text"],
.SelecaoTag input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.SelecaoEnderecos button,
.SelecaoTag button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SelecaoEnderecos button:hover,
.SelecaoTag button:hover {
    background-color: #0056b3;
}

/* Adicionando Estilo para Centralizar a Div da Tabela */
.Tabela {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;
    margin: 20px auto;
    /* Alteração: Margem ajustada para auto para centralizar */
    width: 60%;
    /* Adição: Largura ajustada para 80% da largura do contêiner pai */
}

/* Estilo da Tabela */
#TabelaTags {
    min-width: 150%;
    width: 100%;
}

#TabelaTags th,
#TabelaTags td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#TabelaTags th {
    background-color: var(--cor2);
    color: var(--cor1);
}


.dt-buttons {
    margin-bottom: 20px;
}

.dataTables_wrapper .dt-buttons {
    width: 60%;
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 20vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}

#Conteudo {
    margin-top: 20px;
    font-size: 18px;
    color: black;
}



@media (max-width: 1100px) {
    .Tabela {
        width: 90%;
        /* Adição: Reduz a largura para 90% em telas menores */
    }

    #TabelaTags {
        font-size: 12px;
        /* Adição: Reduz o tamanho da fonte em telas menores */
    }

    .dt-buttons {
        display: flex;
        align-items: center;
    }
    
    .Informacoes{
        display: block;
        flex-direction: column;
    }

    .Informacoes label{
        margin-bottom: 10px;
    }
}
