* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: rgb(153, 153, 153);
    --cor2: rgb(17, 45, 126);
    --cor3: rgb(93, 140, 233);
    --cor4: rgb(210, 210, 210);
    --cor5: rgb(0, 0, 0);
}


body {
    background-color: var(--cor1);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.container{
    display: block;
    flex-direction: column;
    border: 1px solid black;
    background-color: var(--cor4);
    height: 94.7%;
    max-height: 94.7%;
}

.title{
    display: flex;
    border-bottom: 2px solid var(--cor2);
    padding: 20px;
    background-color: var(--cor4);
}

.title i {
    flex-shrink: 0;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

.title h3 {
    margin: 0;
    text-align: left;
    flex-grow: 1;  
    font-size: 25px; 
}



.Datas input[type="date"]{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.Datas button{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor2);
    color: white;
    cursor: pointer;
}
