/* Estilos gerais */
#form-container {
    min-width: 100%;
    width: 100%;
    height: calc(100vh - 50px); /* Ajuste da altura para ocupar a altura restante da janela */
    padding: 20px;
    overflow-y: auto; /* Adicionando barra de rolagem apenas se necessário */
    background-color: gray;
}

.Corpo {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: auto;
    background-color: var(--branco);
    padding: 20px;
    max-height: calc(98% - 50px);
    max-height: calc(100% - 50px); 
}


@media (max-width: 768px) {
    td.descricao {
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    /* Adicionando barra de rolagem à corpo-enderecos em dispositivos móveis */
    .corpo-enderecos {
        max-height: 60vh !important; /* Ajuste a altura conforme necessário */
        overflow-y: auto !important;
    }
}
