#form-container {
    min-width: 100%;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 20px;
    overflow-y: auto;
    background-color: gray;
}

.Corpo {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: auto;
    background-color: var(--branco);
    padding: 20px;
    max-height: calc(100% - 50px);
}



@media (max-width: 768px) {
   
    #form-container,
    .Corpo {
        padding: 10px;
    }
}